/* Link Styles
---------------------------------------- */

/* Links adjustment to correctly display an order of rtl/ltr mixed content */
a {
	direction: ltr;
	unicode-bidi: embed;
	transition: color 0.3s ease-out;
}

a:link		{ text-decoration: none; }
a:visited	{ text-decoration: none; }
a:hover		{ text-decoration: underline; }
a:active	{ text-decoration: none; }

/* Coloured usernames */
.username-coloured {
	font-weight: 700;
	display: inline !important;
	padding: 0 !important;
}

/* Links on gradient backgrounds */
#search-box a:link, .navbg a:link, .forumbg .header a:link, .forabg .header a:link, th a:link { text-decoration: none; }
#search-box a:visited, .navbg a:visited, .forumbg .header a:visited, .forabg .header a:visited, th a:visited { text-decoration: none; }
#search-box a:hover, .navbg a:hover, .forumbg .header a:hover, .forabg .header a:hover, th a:hover { text-decoration: underline; }
#search-box a:active, .navbg a:active, .forumbg .header a:active, .forabg .header a:active, th a:active { text-decoration: none; }

/* Links for forum/topic lists */
a.forumtitle {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 700;
	text-decoration: none;
}

a.forumtitle:hover { text-decoration: underline; }

a.topictitle {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 700;
	text-decoration: none;
}

a.topictitle:hover { text-decoration: underline; }

/* Post body links */
.postlink {
	text-decoration: none;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 0;
}

.postlink:hover { text-decoration: none; }

.signature a, .signature a:visited, .signature a:hover, .signature a:active {
	border: none;
	text-decoration: underline;
}

/* Profile links */
.postprofile dt.author a { text-decoration: none; }
.postprofile dt.author a:hover {text-decoration: underline; }

.postprofile a:active {
	font-weight: 700;
	text-decoration: none;
}

/* Profile searchresults */	
.search .postprofile a {
	text-decoration: none; 
	font-weight: 400;
}

.search .postprofile a:hover { text-decoration: underline;  }

/* Back to top of page */
.back2top {
	clear: both;
	height: 20px;
	text-align: right;
}

a.top {
	text-decoration: none;
	display: block;
	float: right;
	overflow: hidden;
	height: 20px;
	line-height: 20px;
	width: 40px;
	text-align: center;
}

a.top2 {
	text-decoration: none;
	display: block;
	float: right;
	overflow: hidden;
}

/* Arrow links  */
a.up		{ background: none no-repeat }
a.down		{ background: none no-repeat }
a.left		{ background: none no-repeat }
a.right		{ background: none no-repeat }

a.up, a.up:link, a.up:active, a.up:visited {
	padding-left: 10px;
	text-decoration: none;
	border-bottom-width: 0;
}

a.up:hover { background-position: left top; }
a.down, a.down:link, a.down:active, a.down:visited { padding-right: 10px; }

a.down:hover {
	background-position: right bottom;
	text-decoration: none;
}

a.left, a.left:active, a.left:visited { padding-left: 0; }
a.left i { margin-right: 5px; }
a.left:hover { text-decoration: none; }
a.right, a.right:active, a.right:visited { padding-right: 0; }
a.right i { margin-left: 5px; }
a.right:hover { text-decoration: none; }

/* invisible skip link, used for accessibility  */
.skiplink {
	position: absolute;
	left: -999px;
	width: 990px;
}

/* Feed icon in forumlist_body.html */
a.feed-icon-forum {
	float: right;
	margin: 3px;
}
