/* --------------------------------------------------------------
Colours and backgrounds for common.css
-------------------------------------------------------------- */

html, body {
	color: #2C2C2C;
	background-color: #E1E1E1;
}

h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover	{ color: #555555; }
h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover	{ color: #555555; }
h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover	{ color: #555555; }
hr, hr.dashed									{ border-top-color: #E1E1E1; }

/* Search box
--------------------------------------------- */
#search-box {
	background-color: #EBEBEB;
	border-color: #D1D1D1;
}

#search-box #keywords {
	background-color: transparent;
	background-image: none; /* For Firefox Mobile */
	color: #3C3C3C;
}

#search-box #keywords:hover, #search-box #keywords:focus { color: #007FBE; }
#search-box input.button:hover { color: #007FBE; }

#search-box .button {
	background-color: transparent;
	color: #3C3C3C;
}

/* Custom menu
--------------------------------------------- */
#cmenu > li > a {
	background-color:transparent;
	box-shadow: 0 2px 0 transparent;
	color: #3C3C3C;
}

#cmenu > li > a:hover { box-shadow: 0 2px 0 #4575B4; }

#cmenu > li > ul {
	background-color: #2C2C2C;
	border-color: #4575B4;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}

#cmenu > li > ul > li > a { color: #B2B2B2; }
#cmenu > li > ul > li > a:hover { color: #E5E5E5; }

/* Round cornered boxes and backgrounds
---------------------------------------- */
.headerbar-bg {
	background-color: #EBEBEB;
	box-shadow: 0 2px 2px #CBCBCB;
}

.headerbar										{ background-color: transparent; }
.navbar-bg										{ background-color: #2C2C2C; }
.navbar											{ background-color: transparent; }
.navbar a, .navbar a:link, .navbar a:visited	{ color: #B2B2B2; }
.navbar a:hover									{ color: #E5E5E5; }
.navbar-leg strong i							{ color: #666666; }

.bottombar-bg											{ background-color: #1C1C1C; }
.bottombar												{ background-color: transparent; }
.bottombar a, .bottombar a:link, .bottombar a:visited	{ color: #B2B2B2; }
.bottombar a:hover										{ color: #E5E5E5; }
.bottombar ul											{ color: #B2B2B2; }

.cfooter-bg																	{ background-color: #2C2C2C; }
.cfooter 																	{ background-color: transparent; }
.cfooter h5																	{ color: #999999; }
.cfooter p, .cfooter li, .cfooter a, .cfooter a:link, .cfooter a:visited	{ color: #777777; }
.cfooter ul li																{ border-color: #333333; }

.cfooter li i {
	color: #999999;
	background-color: #1C1C1C;
}

.cfooter-social a:hover i	{ color: #999999; }
.get-in-touch li i			{ color: #3C3C3C; }
.get-in-touch span span		{ color: #999999; }

.forabg, .forumbg {
	background-color: #4575B4;
	border-color: #D1D1D1;
}

.panel {
	background-color: #F5F5F5;
	color: #555555;
	border-color: #D1D1D1;
}

.panel h3																{ color: #007FBE; }
.cublock																{ border-color: #D1D1D1; }
.cublock-head															{ background-color: #3C3C3C; }
.cublock-head h3														{ color: #EEEEEE; }
.cublock-head h3 a, .cublock-head h3 a:link, .cublock-head h3 a:visited	{ color: #EEEEEE; }
.cublock-content														{ background-color: #FAFAFA; }

.headline-bg {
	background-color: #D7D7D7;
	border-color: #C7C7C7;
}

.headline																						{ background-color: transparent; }
.headline ul a, .headline ul a:link, .headline ul a:visited, .headline p						{ color: #4C4C4C; }
.headline h2, .headline h2 a, .headline h2 a:link, .headline h2 a:visited, .headline h2 a:hover	{ color: #4C4C4C; }
.post																							{ border-color: #D2D2D2; }
.post:target h3 a																				{ color: #007FBE; }
.bg1, .bg2, .bg3																				{ background-color: #FAFAFA; }
.ucprowbg																						{ background-color: #DCDEE2; }
.fieldsbg																						{ background-color: #E7E8EA; }

/* Horizontal lists
----------------------------------------*/
ul.linklist																{ background-color: transparent; }
ul.navlinks, ul.navlinks a, ul.navlinks a:link, ul.navlinks a:visited	{ color: #666666; }

/* Table styles
----------------------------------------*/
table.table1			{ border-color: #DDDDDD; }
table.table1 thead th	{ color: #EEEEEE; }
table.table1 tbody tr	{ border-color: #BFC1CF; }

table.table1 tbody tr:hover, table.table1 tbody tr.hover {
	background-color: #FAFAFA;
	color: #000000;
}

table.table1 td			{ color: #7D7D7D; }
table.table1 td strong	{ color: #555555; }

table.table1 tbody th {
	background-color: #FFFFFF;
	color: #333333;
}

table.info tbody th { color: #000000; }

/* Misc layout styles
---------------------------------------- */
dl.details dt				{ color: #555555; }
dl.details dd				{ color: #7D7D7D; }
.sep						{ color: #1198D9; }

/* Pagination
---------------------------------------- */
.pagination span strong {
	background-color: #3C3C3C;
	color: #EEEEEE;
}

.pagination span a, .pagination span a:link, .pagination span a:visited {
	background-color: #4575B4;
	color: #EEEEEE;
}

.pagination span a:hover {
	background-color: #3C3C3C;
}

/* Pagination in viewforum for multipage topics */

.row .pagination a											{ box-shadow: none !important; }
.row .pagination span a:hover, li.pagination span a:hover	{ background-color: #4575B4; }

.row .pagination a, .row .pagination a:link, .row .pagination a:visited {
	background-color: #3C3C3C;
	color: #EBEBEB;
}

.row .pagination i { color: #D7D7D7; }

/* Miscellaneous styles
---------------------------------------- */
.copyright-bg														{ background-color: #1C1C1C; }
.copyright, .copyright a, .copyright a:link, .copyright a:visited	{ color: #555555; }
.copyright a:hover													{ color: #666666; }
.error																{ color: #BC2A4D; }
.reported															{ box-shadow: 5px 0 0 #D45748 inset; }
div.rules-bg														{ background-color: #D45748; }

div.rules {
	background-color: transparent;
	color: #FFFFFF;
}

p.rules															{ background-color: #3C3C3C; }
p.rules a, p.rules a:link, p.rules a:visited, p.rules a:hover	{ color: #BBBBBB; }

.forum-rules {
	background-color: #3C3C3C;
	color: #E1E1E1;
}

.forum-rules p.rules-title						{ color: #E1E1E1; }
.clear											{ background: transparent; }
.new-post, .new-post:link, .new-post:visited	{ color: #D45748; }

/* For custom_menu.html */
.custom-menu li ul {
	background-color: #FAFAFA;
	border-color: #CCCCCC;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}

.custom-menu a, .custom-menu a:link, .custom-menu a:visited						{ color: #CCCCCC; }
.custom-menu a:hover															{ background-color: #111111; }
.custom-menu li ul a, .custom-menu li ul a:link, .custom-menu li ul a:visited	{ color: #666666; }
.custom-menu li ul a:hover														{ background-color: #EAEAEA; }

/*  	
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */

a:link		{ color: #007FBE; }
a:visited	{ color: #007FBE; }
a:hover		{ color: #2C2C2C; }
a:active	{ color: #007FBE; }

/* Links on gradient backgrounds */
.navbg a:link, .forumbg .header a:link, .forabg .header a:link, th a:link				{ color: #EEEEEE; }
.navbg a:visited, .forumbg .header a:visited, .forabg .header a:visited, th a:visited	{ color: #EEEEEE; }
.navbg a:hover, .forumbg .header a:hover, .forabg .header a:hover, th a:hover			{ color: #EEEEEE; }
.navbg a:active, .forumbg .header a:active, .forabg .header a:active, th a:active		{ color: #C8E6FF; }

/* Links for forum/topic lists */
a.forumtitle, a.forumtitle:visited, a.forumtitle:hover	{ color: #555555; }
a.forumtitle:active										{ color: #1C1C1C; }
a.topictitle, a.topictitle:visited, a.topictitle:hover	{ color: #555555; }
a.topictitle:active										{ color: #1C1C1C; }

/* Post body links */
.postlink {
	color: #368AD2;
	border-bottom-color: #368AD2;
}

.postlink:visited {
	color: #5D8FBD;
	border-bottom-color: #5D8FBD;
}

.postlink:active { color: #368AD2; }

.postlink:hover {
	background-color: #D0E4F6;
	color: #0D4473;
}

.signature a, .signature a:visited, .signature a:hover, .signature a:active { background-color: transparent; }

/* Profile links */
.postprofile a:link, .postprofile a:visited, .postprofile dt.author a	{ color: #105289; }
.postprofile a:hover, .postprofile dt.author a:hover					{ color: #D31141; }
.postprofile a:active													{ color: #105289; }

/* Profile searchresults */	
.search .postprofile a			{ color: #105289; }
.search .postprofile a:hover	{ color: #D31141; }

/* Back to top of page */
a.top {
	background-color: #D2D2D2;
	color: #999999;
}

a.top2 { color: #CCCCCC; }

/* Arrow links  */
a.up:hover			{ background-color: transparent; }
a.left, a.right		{ color: #007FBE; }
a.left:hover		{ color: #2C2C2C; }
a.right:hover		{ color: #2C2C2C; }

/*  	
--------------------------------------------------------------
Colours and backgrounds for content.css
-------------------------------------------------------------- */

ul.forums		{ background-color: #FAFAFA; }
ul.topiclist li	{ color: #444444; }
li.row strong	{ color: #6C6C6C; }
li.row:hover	{ background-color: #FAFAFA; }
li.row:hover dd	{ border-left-color: #CCCCCC; }
li.header dt	{ color: #EEEEEE; }
li.header dd	{ color: #EEEEEE; }

/* Forum list column styles */
ul.topiclist dd.searchextra { color: #333333; }

/* Post body styles
----------------------------------------*/
.postbody																						{ color: #333333; }
.postbody h3, .postbody h3 a, .postbody h3:link, .postbody h3 a:visited, .postbody h3 a:hover	{ color: #007FBE; }

/* Content container styles
----------------------------------------*/
.content				{ color: #373737; }
.content h2, .panel h2	{ color: #007FBE; }
dl.faq dt				{ color: #333333; }

.posthilit {
	background-color: #F3BFCC;
	color: #BC2A4D;
}

.announce {
	/* Highlight the announcements posts box */
	border-color: #4575B4;
}

.unreadpost {
	/* Highlight the unread posts box */
	border-color: #D45748;
}

/* Post author */
p.author		{ color: #A5A5A5; }
p.author a i	{ color: #A5A5A5; }

/* Post signature */
.signature {
	border-top-color: #E1E1E1;
	color: #A5A5A5;
}

/* Post noticies */
.notice {
	border-top-color: #EEEEEE;
	color: #A5A5A5;
}

/* BB Code styles
----------------------------------------*/
/* Quote block */
blockquote {
	background-color: #F0F0F0;
	color: #999999;
}

blockquote:before {
	color: #DDDDDD;
	text-shadow: 0 1px 0 #AAAAAA;
}

/* Nested quotes */
blockquote blockquote				{ background-color: #FFFFFF; }
blockquote blockquote blockquote	{ background-color: #F0F0F0; }

/* Code block */
dl.codebox		{ background-color: #F0F0F0; }
dl.codebox dt	{ border-bottom-color: #E0E0E0; }
dl.codebox code	{ color: #2E8B57; }

.syntaxbg		{ color: #FFFFFF; }
.syntaxcomment	{ color: #FF8000; }
.syntaxdefault	{ color: #0000BB; }
.syntaxhtml		{ color: #000000; }
.syntaxkeyword	{ color: #007700; }
.syntaxstring	{ color: #DD0000; }

/* Attachments
----------------------------------------*/
.attachbox {
	background-color: #FFFFFF;
	border-color:  #C9D2D8;
}

.pm-message .attachbox	{ background-color: #F2F3F3; }
.attachbox dd			{ border-top-color: #C9D2D8; }
.attachbox p			{ color: #666666; }
.attachbox p.stats		{ color: #666666; }
.attach-image img		{ border-color: #999999; }

/* Inline image thumbnails */

dl.file dd { color: #666666; }

dl.thumbnail img {
	border-color: #666666;
	background-color: #FFFFFF;
}

dl.thumbnail dd				{ color: #666666; }
dl.thumbnail dt a:hover		{ background-color: #EEEEEE; }
dl.thumbnail dt a:hover img	{ border-color: #368AD2; }

/* Post poll styles
----------------------------------------*/

fieldset.polls dl {
	border-top-color: #F0F0F0;
	color: #666666;
}

fieldset.polls dl.voted	{ color: #000000; }
fieldset.polls dd div	{ color: #FFFFFF; }

.rtl .pollbar1, .rtl .pollbar2, .rtl .pollbar3, .rtl .pollbar4, .rtl .pollbar5 { border-right-color: transparent; }

.pollbar1 {
	background-color: #2C2C2C;
	border-bottom-color: #2C2C2C;
	border-right-color: #2C2C2C;
}

.pollbar2 {
	background-color: #2C2C2C;
	border-bottom-color: #2C2C2C;
	border-right-color: #2C2C2C;
}

.pollbar3 {
	background-color: #2C2C2C;
	border-bottom-color: #2C2C2C;
	border-right-color: #2C2C2C;
}

.pollbar4 {
	background-color: #2C2C2C;
	border-bottom-color: #2C2C2C;
	border-right-color: #2C2C2C;
}

.pollbar5 {
	background-color: #007FBE;
	border-bottom-color: #007FBE;
	border-right-color: #007FBE;
}

/* Poster profile block
----------------------------------------*/
.postprofile { color: #7C7C7C; }

.rtl .postprofile {
	border-right-color: #EEEEEE;
	border-left-color: transparent;
}

.pm .postprofile {
	border-left-color: #DDDDDD;
}

.rtl .pm .postprofile {
	border-right-color: #DDDDDD;
	border-left-color: transparent;
}

.postprofile strong	{ color: #7C7C7C; }
.online				{ color: #7FBE00 !important; }

/*  	
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */

.fbutton a										{ background-color: #4575B4; }
.fbutton a, .fbutton a:link, .fbutton a:visited	{ color: #FFFFFF; }
.fbutton a:hover								{ background-color: #333333; }

.fbutton a:active {
	background-color: #000000;
	color: #CCCCCC;
}

.postbody ul.profile-icons li a, .postbody ul.profile-icons li a:visited, .postbody ul.profile-icons li a:link	{ color: #828282; }
.postbody ul.profile-icons li a:hover																			{ color: #4575B4; }

dd ul.profile-icons li a, dd ul.profile-icons li a:visited, dd ul.profile-icons li a:link {
	background-color: #F5F5F5;
	color: #333333;
}

dd ul.profile-icons > li {
	background-color: transparent;
	border-color: #C3C3C3;
}

dd ul.profile-icons li a:hover {
	background-color: #333333;
	color: #CCCCCC;
}

.profile-icons-more {
	background-color: #EBEBEB;
	color: #666666;
}

.profile-icons-more:hover {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}

.profile-icons-drop {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
	border-color: #C3C3C3;
}

/*  	
--------------------------------------------------------------
Colours and backgrounds for cp.css
-------------------------------------------------------------- */

/* Main CP box
----------------------------------------*/

#cp-main .topiclist						{ background-color: #333333; }

ul.cplist {
	background-color: #FFFFFF !important;
	border-color: #DDDDDD;
}

#cp-main .panel li.header dd, #cp-main .panel li.header dd a, #cp-main .panel li.header dd a:link, #cp-main .panel li.header dd a:visited, #cp-main .panel li.header dt, #cp-main .panel li.header dt a, #cp-main .panel li.header dt a:link, #cp-main .panel li.header dt a:visited { color: #999999; }

#cp-main table.table1 thead		{ background-color: #2C2C2C; }
#cp-main table.table1 thead th	{ color: #999999; }
#cp-main .postbody p.author		{ border-color: #e2e2e2; }
#cp-main .postbody p.rules		{ background-color: #DDDDDD; }

#cp-main .pm-message {
	border-color: #DBDEE2;
	background-color: #FFFFFF;
}

/* CP tabbed menu
----------------------------------------*/
#tabs																	{ background-color: #3C3C3C; }
#tabs a, #tabs a:link, #tabs a:visited									{ color: #FFFFFF; }
#tabs a:hover															{ background-color: #333333; }
#tabs .activetab a, #tabs .activetab a:link, #tabs .activetab a:visited	{ background-color: #333333; }

/* Mini tabbed menu used in MCP
----------------------------------------*/
#minitabs { background-color: #333333; }

#minitabs a {
	color: #FFFFFF;
	background-color: #333333;
}

#minitabs a:hover				{ background-color: #4575B4; }
#minitabs li.activetab			{ background-color: #4575B4; }
#minitabs li.activetab a		{ background-color: #4575B4; }
#minitabs li.activetab a:hover	{ background-color: #333333; }

/* UCP navigation menu
----------------------------------------*/

/* Link styles for the sub-section links */
#navigation ul {
	background-color: #E1E1E1;
	border-color: #DDDDDD;
}

#navigation a							{ color: #666666; }
#navigation a:hover						{ color: #007FBE; }
#navigation #active-subsection a		{ color: #007FBE; }
#navigation #active-subsection a:hover	{ color: #007FBE; }

/* Preferences pane layout
----------------------------------------*/
#cp-main h2 {
	background-color: #E1E1E1;
	border-color: #DDDDDD;
	color: #333333;
}

#cp-main .panel					{ background-color: #E1E1E1; }
#cp-main .pm					{ background-color: #E1E1E1; }
#cp-main .pm .signature			{ border-top-color: #E1E1E1; }
.mcp-main #topicreview .post	{ background-color: #FFFFFF; }
.ucp-main #topicreview .post	{ background-color: #EEEEEE; }

/* Friends list */
.cp-mini {
	background-color: #EEEEEE;
	border-color: #DDDDDD;
}

dl.mini dt { color: #666666; }

/* PM Styles
----------------------------------------*/
/* PM Message history */
.current { color: #333333 !important; }

/* PM marking colours */
.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
	border-left-color: #BC2A4D;
	border-right-color: #BC2A4D;
}

.pmlist li.pm_marked_colour, .pm_marked_colour		{ border-color: #FF6600; }
.pmlist li.pm_replied_colour, .pm_replied_colour	{ border-color: #A9B8C2; }
.pmlist li.pm_friend_colour, .pm_friend_colour		{ border-color: #5D8FBD; }
.pmlist li.pm_foe_colour, .pm_foe_colour			{ border-color: #000000; }

/* Avatar gallery */
#gallery label {
	background-color: #FFFFFF;
	border-color: #CCCCCC;
}

#gallery label:hover { background-color: #EEEEEE; }

/* --------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */

/* General form styles
----------------------------------------*/
select {
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	color: #333333;
}

select:focus, select:hover	{ border-color: #007FBE; }
label						{ color: #555555; }
option.disabled-option		{ color: graytext; }
textarea					{ box-shadow: 0 1px 2px #D7D7D7 inset; }
textarea:focus				{ box-shadow: 0 2px 3px #D7D7D7 inset; }
fieldset.fields1			{ background-color: transparent; }

/* Definition list layout for forms
---------------------------------------- */
dd label	{ color: #555555; }
dt span		{ color: #7D7D7D; }

/* Hover effects */
fieldset dl:hover dt label			{ color: #000000; }
fieldset.fields2 dl:hover dt label	{ color: inherit; }

/* Quick-login on index page */
fieldset.quick-login label			{ color: #888888;}
fieldset.quick-login input.inputbox	{ background-color: #F2F3F3; }
fieldset.quick-login .ql-bg			{ color: #888888; }

fieldset.quick-login .button2 {
	background-color: #DDDDDD;
	color: #888888;
}

/* Posting page styles
----------------------------------------*/
#message-box textarea { color: #333333; }

/* Input field styles
---------------------------------------- */
.inputbox {
	background-color: #FFFFFF; 
	border-color: #CCCCCC;
	color: #5C5C5C;
}

.inputbox:hover { border-color: #007FBE; }

.inputbox:focus {
	border-color: #007FBE;
	color: #333333;
}

/* Form button styles
---------------------------------------- */
a.button1, input.button1 {
	color: #EBEBEB;
	background-color: #4575B4;
}

input.button3, a.button2, input.button2 {
	color: #333333;
	background-color: transparent;
	border-color: #C3C3C3;
}

input.button3 { background-image: none; }

/* Alternative button */
a.button1, a.button1:link, a.button1:visited { color: #EBEBEB; }
a.button2, a.button2:link, a.button2:visited { color: #333333; }

.button1:active, .button2:active, .button3:active {
	background-color: #000000 !important;
	border-color: #000000 !important;
	color: #CCCCCC !important;
}

/* Hover states */
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover {
	background-color: #333333;
	border-color: #333333;
	color: #BCBCBC;
}

input.disabled { color: #666666; }
