/* Button Styles
---------------------------------------- */
.buttons {
	float: left;
	width: auto;
	height: auto;
}

.buttons div {
	float: left;
	margin: 0 20px 0 0;
}

/* Rolloff state */
.buttons div a {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

/* Big button images */
.fbutton a {
	padding: 0 20px;
	line-height: 30px;
	height: 30px !important;
	transition: background-color 0.3s ease-out;
}

.fbutton i { margin-right: 5px; }
.fbutton a:hover { text-decoration: none; }
.fbutton a:active { line-height: 32px; }

/* Poster profile icons
----------------------------------------*/
ul.profile-icons {
	padding-top: 20px;
	list-style: none;
}

ul.profile-icons li { float: left; }
ul.profile-icons li span { margin-left: 5px; }

ul.profile-icons li a:hover {
	background: none;
	text-decoration: none;
}

/* Positioning of moderator icons */
.postbody ul.profile-icons {
	float: right;
	width: auto;
}

#cp-main .postbody ul.profile-icons { padding-top: 0; }

.postbody ul.profile-icons li a, .postbody ul.profile-icons li a:visited, .postbody ul.profile-icons li a:link {
	line-height: 1.5;
	text-align: center;
	margin: 0 0 0 10px;
	padding: 0;
	display: block;
	transition: color 0.3s ease-out;
}

.postbody ul.profile-icons li label {
	text-align: center;
	margin: 0;
	padding: 0 10px;
	display: block;
	transition: background-color 0.3s ease-out;
}

/* Positioning of user icons */
dd ul.profile-icons {
	float: left;
	width: 100%;
	position: relative;
}

dd ul.profile-icons > li {
	width: 30px !important;
	padding: 0;
	border-style: solid;
	border-width: 1px;
}

dd ul.profile-icons li { width: 100%; }

dd ul.profile-icons li a, dd ul.profile-icons li a:visited, dd ul.profile-icons li a:link {
	float: left;
	height: 30px;
	line-height: 30px;
	text-align: left;
	padding: 0 20px;
	margin: 0;
	display: block;
	width: 100%;
	transition:
		background-color 0.1s ease-out,
		color 0.1s ease-out;
}

dd ul.profile-icons li a:hover { text-decoration: none; }

.profile-icons-more {
	width: 100%;
	text-align: center;
	height: 30px;
	line-height: 30px;
	transition: box-shadow 0.5s ease-out;
}

.profile-icons-drop {
	list-style: none;
	display: none;
	position: absolute;
	top: 49px;
	left: 0;
	width: 100%;
	z-index: 9999;
	border-style: solid;
	border-width: 1px;
}

.profile-icons-more:hover .profile-icons-drop { display: block !important; }
