<!--<div id="alert-message">
<p><em>YSFlight Headquarters is currently under construction.</em> We apologize for any issues that may occur.</p>
<a class="close" href="#" onclick="$(this).parent().remove();">&times;</a>
<style type="text/css">
#alert-message{width: 100%;position: absolute;background: #ff4;border-bottom: 2px solid #ddd;top: 0;}
#alert-message p{line-height: 2;margin: 0;text-align: center;font-weight: bold;color: #333;}
#alert-message>a{margin-right: 10px;margin-top: -22px;float: right;font-size: 20px;font-weight: bold;line-height: 20px;color: #000000;text-shadow: 0 1px 0 #ffffff;opacity: 0.2;filter: alpha(opacity=20);}
body{margin-top: 20px !important;}
</style>
</div>-->