<!--Simple Sidebar Board Links Customization Module

Last updated 0.4.1 Beta

Simply copy and paste the code for the list item of the link from the overall header into this file!
Include a <br /> tag after each, though.

-->

<li><a href="http://ysfhq.com/serverlist/" target="_blank" style="display: block; text-align: center; color: #f00; font-style: italic; font-weight: bold;">Online Servers List</a><em style="font-size: 13px;font-weight: bold;text-decoration:underline;">Online Players</em><br/>(click server name to connect)</li>
<li id="serverlist" style="line-height: 1em">
</li>
<script type="text/javascript">
$('#serverlist').load('/serverlist/players3.php table');
</script>
<style type="text/css">
#serverlist table td {
    vertical-align: top;
}
</style>
<br>
<li><a href="http://www.tsviewer.com/index.php?page=ts_viewer&ID=1024434" target="_blank" style="display: block; text-align: center; margin: 0 auto;"><img src="http://www.tsviewer.com/promotion/dynamic_sig/sig.php/clan160x283_fs/1024434.png" alt="YSFlight Headquarters TeamSpeak Viewer" title="YSFlight Headquarters TeamSpeak Viewer" border="0" /></a></li>
<br>
<li><a href="http://www.ysupload.com" target="_blank" style="display: block; text-align: center; margin: 0 auto;"><img src="http://www.ysupload.com/img/ysu3_banner.png" alt="YSUpload.com" title="Visit YSUpload.com, the official addon host of YSFlight Headquarters!" border="0" /></a></li>
<br>
<li style="text-align:center"><strong>Donate to YSFHQ/YSUpload and help keep the site online! <a href="/viewtopic.php?f=167&t=5385">More info here.</a></strong><br><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="8BANDVEP9HF6S">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form></li>

<!--End edit space-->