<!--Simple Sidebar Board Links Customization Module

Last updated 0.4.1 Beta

Simply copy and paste the code for the list item of the link from the overall header into this file!
Include a <br /> tag after each, though.
-->
<br><li><strong><i>Join us on Teamspeak!</i></strong><br><a href="http://www.tsviewer.com/index.php?page=ts_viewer&amp;ID=1024434" target="_blank" style="display: block; text-align: center; margin: 0 auto;"><img src="http://www.tsviewer.com/promotion/dynamic_sig/sig.php/clan302x58_fs/1024434.png" alt="YSFlight Headquarters TeamSpeak Viewer" title="YSFlight Headquarters TeamSpeak Viewer" border="0" style="width: 100%; height: auto;"/></a></li><br>

<li><em style="font-size: 13px;font-weight: bold;text-decoration:underline;"><a href="http://ysflight.org/serverlist/" tyle="display: block; text-align: center; margin: 0 auto;"><img src="http://i.imgur.com/eegUFtk.png" alt="Online Servers List" title="Online Servers List" border="0" style="width: 100%; height: auto;"/></a></li><br></em></li>

<div style="font-style: italic; font-size: 1.2em">
<li><a href="http://ysflight.org/"><strong><em>Download YSFlight!</em></strong></a></li>
<li><a href="http://ysfhq.com/resources/flight-school/">Learn How to Fly Here!</a></li>
<li><a href="http://forum.ysfhq.com/viewtopic.php?f=234&t=6256">How to Install Addons</a></li>
<li><a href="http://forum.ysfhq.com/viewforum.php?f=147">Tutorials</a></li>
<br>

<li><a href="http://forum.ysfhq.com/viewtopic.php?f=167&t=6071">Forum Rules</a></li>
<li><a href="http://ysfhq.com/about-us/brand-assets/">Branding Assets</a></li>
<br>

<li><a href="http://ysfhq.com/community/civilian-hq/">Civilian HQ</a></li>
<li><a href="http://ysfhq.com/community/combat-hq/">Combat HQ</a></li>
<li><a href="http://ysfhq.com/community/aerobatic-hq/">Aerobatic HQ</a></li>
<br>

<li><a href="http://ysfhq.com/community/upcoming-events/">Community Events</a></li>
<li><a href="http://forum.ysfhq.com/viewforum.php?f=146">Screenshots</a></li>
<li><a href="http://www.YouTube.com/user/YSFHQ">Videos</a></li>
<br><br>
</div>

<li><a href="http://www.ysupload.com" target="_blank" style="display: block; text-align: center; margin: 0 auto;"><img src="http://www.ysupload.com/img/newYSUlogo.png" alt="YSUpload.com" title="Visit YSUpload.com, the official addon host of YSFlight Headquarters!" border="0" style="max-width: 100%;"></a></li><br>
<li style="text-align:center">
    <strong>Donate to YSFHQ!
<a href="http://ysfhq.com/2013/12/announcing-ysfhq-first-class/" target="_blank">More info here.</a></strong><br>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="8BANDVEP9HF6S">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
</li>

<!--End edit space-->