<!-- IF not S_IN_ADMIN -->
<!-- IF PAGE_TITLE eq L_LOGIN or PAGE_TITLE eq L_INFORMATION or PAGE_TITLE eq "Forum Chat" or PAGE_TITLE eq L_CONFIRM or S_IN_UCP or S_IN_MCP -->
<!-- ELSE -->
<!-- IF not S_IS_BOT -->
<!-- IF not FIRST_CLASS -->
<!-- ysfhq-forum-horiz -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-1211687588041162"
     data-ad-slot="3819384042"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- ENDIF -->
</div>
<div id="side-bar">
<!-- INCLUDE sidebar_body.html -->
</div>
<!-- ENDIF -->
<!-- ENDIF -->
<!-- ENDIF -->
